*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:#f9f5ed;
    height:100vh;
    width:100vw;
    text-decoration: none;
    padding:15px 100px;  
}

/* Header  */
nav{
    display: flex;
    height: 10%;
   
}

#logo{
   width: 100px;
}
nav ul{
    display:flex;
    margin-left: 5%;
    gap:60px;
    
    
}
nav ul li{
    list-style: none;
    font-weight: 600;
    cursor: pointer;
    padding:5px;
    
}
nav ul li:hover{
    font-weight: 700;
    text-decoration: underline;
}

/* Middle Section */
.middle-section{
 display: flex;
align-items: center;
justify-content: center;
padding-bottom: 50px;
   
}
.content{
   width:70%;
   padding-right: 20px;
   padding-top:100px;
}
div h1{
    font-size:2rem;
    font-weight: 800;
    padding-bottom:20px;
   
}

div p{
font-weight: 500;
font-size:12px;   
   
}

div button{
    background-color: #3b855b;
    color:white;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1rem;
    padding:8px; 
    margin-top: 18px;

}

div button:hover{
    background-color: #fff;
    color:#3b855b;
    border: 1px solid black;
} 
.middle-right-section {
  width:70%;
  height:500px;
  margin-left:30px;
  margin-top: 100px;
} 
.middle-right-section img{
    height:240px;
    width:200px;
    padding:25px 0 15px 10px;
   
}
.middle-right-section .buttonimg img{
    height:220px;
    width:407px;
    padding:0  5px 15px 10px;
}
