@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

*{
    padding:0;
    margin:0;
    outline:0;
    box-sizing:border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

body{

    max-width: 1440px;
    background-color: #f0f4f5;
    overflow: hidden;
    margin: auto;

}

/* Navbar */
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin:0 5vw;
    height: 15vh;

}
li{
    list-style:none;
    font-weight: 600;
}
a{
    text-decoration: none;
    color:#000;
}


.menu ul{
   display:flex;
   align-items: center; 
   justify-content: center;
   gap:40px;

}

.home a{
   color: #20bc7e;
   
  
}

.branding img{
    width:10em;
}

/* Contact Us Form */

#contact-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    /* border: 2px solid black; */
    margin:50px auto;
    padding:20px;
    gap: 15px;
    border-radius: 14px;
    box-shadow: 0px 0px 10px black  ;
}
#contact-form h1{
    display: flex;
    font-weight: 600;
    margin: 0 auto;
}

div{
    display: flex;
    flex-direction: column;
    gap:10px;
}
div label{
    display: flex;
    align-items: start;
    font-weight: 600;
}

#name , #email , #message{
    width:300px;
    padding:4px ;
    border-radius: 10px;
    border:none;

}

#message{
    align-items:flex-start;
    height: 100px;
    resize: none;
}

button{
    display: flex;
    margin: 0 auto;
    background-color: #20bc7e;
    color:#fff;
    border:none;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 300px;
    border-radius:10px ;
    font-size:1.2rem;
    font-weight: 600;
}
