*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height:100%;
  width: 100%;
  background-image: url("./assets/bg.png")  ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-width: fit-content;
  
}

/* Header Section */
.navbar{
  display:flex;
  background-color:#000;
  height:6em;
  align-items: center;
  justify-content:space-between;
}
/* Logo */
.navbar img{
    width:100px;
    padding:5px;
    margin-left: 80px;
    
  }
  .navbar span{
    color:#fff;
    font-size:4rem ;
    height:100%;
    font-weight: 100; 
    margin-right: 50px;

}

.navbar ul{
  display: flex;
  align-items: center;
  font-weight: 600;
  margin:auto  179px auto 0;
  gap:60px;
}
.navbar ul li{
  list-style: none;
  
  
  
}
.navbar ul li a{
  color: #fff;
 
 
}

.navbar button{
 
  background-color: #d217d2;
  color:#fff;
  font-weight: 600;
  font-size: 1rem;
  padding: 8px  33px;
  border: 1px solid black;
  border-radius: 10px;
  margin:auto  10px auto  80px ;

}


/* Hero Section */
.middle-section{

  background-image: url("./assets/bg.png")  ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
align-items: center;
justify-content: space-between;

}


.context h1{
  display: flex;
   color:#fff;
  font-size:5rem;
  font-weight: 900;
  margin: auto 15% ;
  padding-top:160px;
  align-items: center;
  justify-content: center;
 
  
 
}
.middle-section p{

   color:#fff;
 /* padding:0px 22%; */
 font-weight: 500;
 font-size: 1.8rem; 
 margin-top: 20px;
 display:flex;
 align-items: center;
 justify-content: center;

} 
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 32%;
}
.middle-section button{
  background-color: #d217d2;
  color:#fff;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 10px  33px;
  border: 1px solid black;
  border-radius: 10px;
 
}

