
/*  Google font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}
body{
  background-color:  #f6f8fa;
  margin:0 auto;
}

/* Header Section */
header{
  background-image:url('./Photos/mainBackground.png');
  height: 125vh;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  isolation: isolate;
 
}

header::after{
  content:"";
  position:absolute;
  background-color:#000;
  inset: 0;
  opacity:.5;
  z-index: -1;

}

.navbar{
  display:flex;
  align-items: center;
  justify-content: space-around;
 padding:22px 0;
}

.brand-logo img{
 width:120px;
 background-size:contain;
;
  
  
}
li{
  list-style:none;
  margin:0 20px;
  
}
a{
  color:#fff;
  font-size:1.1rem;
}
.menu{
  display:flex;
  align-items: center;
  justify-content: center;
}

hr{
  margin: 0 90px;
 
}


/* Hero Top Content */
.hero-top-content{
  color:#fff;
  margin-left:130px;
  margin-top: 5em;

}

.hero-top-content h1{
  font-size: 4.2rem;


}
.hero-top-content h2{
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 33px;
 
 
}
.hero-top-content button{
  background-color:#6663e9;
  color:#fff;
  cursor: pointer;
  border:none;
  border-radius: 20px;
  padding:10px 28px;
  font-weight: 700;
  font-size: 1rem;
  margin-top:30px;
}


/* Company-Logo */

.company-logo{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  height:180px;
  width:93vw;
  margin: 0 auto;
  border-radius: 25px;
  background-color: #fff;
  position:relative; 
  bottom:100px;

}



/* Models */

.hero-modern{
  position:relative;
}

.hero-modern h1{
  font-weight: 800;
  font-size:4rem;
  text-align: center;
}

/* Real estate models */

.real-estate-container{
 display:flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 margin:35px auto  150px;
  
  
}
.box{
  display:flex;
  flex-basis: 30%;
  flex-direction: column;
  align-items: center;
  margin: 50px 5px;
  position:relative;
  padding:0 5px;

}

.box img{
  height:400px;
  width:366px;
  border-radius: 30px;
 

}

.home-detail{
  display:flex;
  align-items: center;
  justify-content: space-between;
  position:absolute;
  background-color: #fff;
  width:330px;
  height:100px;
  bottom:-50px;
  padding:0 30px;
  border-radius:20px;
}


.home-detail h1{
  font-size:1.3rem;
  text-align: start;
}
.home-detail h2{
 font-size: 1rem;
 color:#6663e9;
 margin-top:10px;
}
.home-detail button{
  background-color:#6663e9;
  color:#fff;
  cursor: pointer;
  border:none;
  border-radius: 20px;
  padding:10px 28px;
  font-weight: 700;
  font-size: 1rem;

}
.box:nth-child(1){
  margin-bottom:100px;
}
.box:nth-child(2){
   top:10px;
}

.box:nth-child(3){ 
  top:25px;
}
.box:nth-child(4){
  top:60px;
}
.box:nth-child(5){
  top:30px;
}

/* .box:nth-child(6){
 
} */

.box:nth-child(7){
  top:50px;
}
.box:nth-child(8){
  top:80px;
}
.box:nth-child(9){
  top:110px;
}

/* Early Booking */

/* Early Booking top */

.early-booking-one{
  display:flex;
 align-items: center;
 justify-content:center;
  margin-top:20em; 
}

.early-booking-one-left{
  position:relative;
  width:50%;

}

.early-booking-one-left img:nth-child(1){
width:400px;
height:400px;
position: absolute;
border-radius:50px;
left:6.1em;
top:-3.8em;

}
.early-booking-one-left img:nth-child(2){
  width:34em;
  height:28em;
  position:relative;
  left:0;
  transform:scaleX(-1);
  z-index:-1;


}


.early-booking-one-right{
width: 50%;
}
.early-booking-one-right h1{
  font-weight: 800;
  font-size:4rem;
}

.early-booking-one-right p{
  font-size:1.1rem;
  margin-top:30px;
}

.early-booking-one-right button{
  background-color:#6663e9;
  color:#fff;
  cursor: pointer;
  border:none;
  border-radius: 20px;
  padding:10px 28px;
  font-weight: 700;
  font-size: 1rem;
  margin-top:50px;
}


/* Early Booking bottom */
.early-booking-two{
  margin-top: 10em;
  display:flex;
}

.early-booking-two-left{
  width:50%;
 margin-left: 3em;
  text-align: start;
}

.early-booking-two-left h1{
  font-weight: 800;
  font-size:4rem;
}

.early-booking-two-left p{
  font-size:1.1rem;
  margin-top:30px;
}

.early-booking-two-left button{
  background-color:#6663e9;
  color:#fff;
  cursor: pointer;
  border:none;
  border-radius: 20px;
  padding:10px 28px;
  font-weight: 700;
  font-size: 1rem;
  margin-top:40px;
}

.early-booking-two-right{
  width:50%;
  position: relative;

}

.early-booking-two-right img:nth-child(1){
  width:400px;
  height:400px;
  position: absolute;
  border-radius:50px;
  right:8em;
  bottom:3.6em ;
  
  }
  .early-booking-two-right img:nth-child(2){
    width:700px;
    height:456px;
    position:absolute;
    right:0;
    z-index:-1;
    bottom:-60px;
  
  
  }


  /*<!-- Newslatter Section --> */

  .newsletter{
    background-color: #6663e9;
    color:#fff;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:70px;
    height:100%;
    width:90%;
    margin:90px auto;
    padding:90px 0;
  }

  .newsletter h1{
  
    text-align: center;
    font-size:4rem;
    font-weight: 800;
  }
  .newsletter p{
    font-size: 1.1rem;
    text-align: center;
    margin-top:30px;
    font-weight: 400;
    word-spacing: 1px;
  }


  .newsletter-input-btn{
    display:flex;
    align-items: center;
    justify-content:center;
    gap:20px;
    margin-top:20px;
  }

  .newsletter-input-btn div{
    background-color: #5654d1;
    display: flex;
    align-items: center;
    flex-direction:row;
    gap:15px;
    padding:8px 10em 8px 20px;
    border-radius: 30px;
    width:100%;
  }
  input{
    background-color:unset;
    border:none;
    padding:10px 8em 10px 0;
    border-radius:30px ;
    color:white;
  
  }
  .newsletter-input-btn div img{
    width:20px;
  }

  .newsletter-input-btn button{
    background-color:#fff;
  color:#6663e9;
  cursor: pointer;
  border:none;
  border-radius: 30px;
  padding:15px 35px;
  font-weight: 700;
  font-size: 1rem;
  }



  /* Footer Section */

  footer{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:85vw;
    margin:0 auto;

    margin-bottom: 100px;
  }

  .footer-left img{
     width:9em;
     margin-bottom:20px;
  }
  .footer-social{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:20px;
   
  }

  .footer-social img{
    width:40px;
    
  }

  .footer-left p {
    font-weight: 500;
    font-size:1.1rem;
    line-height: 30px;
  }

  /* Footer middle */

  .menu-detail{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width:fit-content;
    gap:40px;

  
   
  }

  footer li{
    font-size: 15px;
    cursor: pointer;
  }
footer ul{
  display:flex;
  flex-direction: column;

  gap:25px;
}

  footer ul li:first-child{
    font-size: 1.2rem;
    font-weight: 800;

  }

  


