*{
    margin:0;
    padding:0;
    overflow:hidden;
    box-sizing:border-box;
    align-content: center;
    font-family: 'Poppins', sans-serif;

}
body{
    height: 100vh;
    width:100vw;
    background-color: #edf1fd;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:15px 100px;
  
}

li{
    cursor:pointer;
    list-style: none;

}
a{
    text-decoration:none;
}

button{
    background-color: rgb(51, 145, 51);
   width:fit-content;
   color:#fff;
   cursor:pointer;
   padding:4px 10px;
   border-radius: 5px;
   border:1px solid #fff;
   text-decoration: none;
   font-weight: 600;

}
button:hover{
    background-color:#fff;
    color: black;
    border:1px solid black;
}

/* Header */
header{
  height: 100vh;
  padding-top:0px;

}
nav{
    display:flex;
    width:100%;
     align-items: center;
    justify-content:space-between;

}

nav ul{
    display:flex;
    align-items: center;
    gap:40px;
    font-weight: 500;
   
}

/* Logo */
.logo img{
    max-height:90px;
    max-width:90px;
    height:20%;
    border-radius:50%;
    margin:10px;
    padding: 10px;
}

nav ul li a{
    color:rgba(13, 9, 9, 0.797);
}

nav ul li a:hover{
    text-decoration: underline;
    font-weight: 600;
    border-radius: 20%;
    padding:50px 8px;
    border:1px solid rgba(13, 9, 9, 0.797);
    background-color:rgba(68, 162, 59, 0.797);
    color: #fff;
}

.search_field{
    display:flex;
    gap:30px;
}

input{
    padding:4px 10px;
}
/* Middle section */
.middle_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:150vh ;
    padding: 150px 0;
   
    
}


/* Left Section content */
.left_section{
    padding-right: 30px;
    padding-top: 100px;
    width: 60%;

}
.left_section h1{
    font-weight: 700;
    font-size: 2.1rem;
    margin-bottom:20px;
}

.left_section p{
    font-weight: 500;
    
   
}
.left_section h1 span{
    background-color:#dfdfe0;
    color:rgb(51, 145, 51);
    font-weight: 900;
    font-size: 3 rem;
}
.left_section p span{
    color:rgb(51, 145, 51);
    font-weight: 700;
    font-size:2 rem;
}
/* Image of Owner Right section */
.right-section{
   
  width: 40%;
  margin-top: 100px;
  padding:30px 50px ;
  text-align: center;

 
}

.right-section button{
  margin-top: 30px;
  margin-bottom: 60px;
 
}

.right-section img{
    height:300px;
    width:300px;
    border-radius: 50%;

 
  

}

/* Footer */
footer{
    display:flex;
    height: 20%;
    align-items: center;
    justify-content: space-around;
    margin-top:40px;
    margin-bottom:20px;
 
}
footer p{
    font-weight: 500;
   
}
footer ul{
    display: flex;
    gap:30px;
    font-size: 25px;
    padding:20px 
}

